@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set global font */
body {
  font-family: "Bahnschrift SemiLight", "Bahnschrift", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes popIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out forwards;
}

.animate-popIn {
  animation: popIn 0.2s ease-out forwards;
}
